<h1>register</h1>

<form action='/api/register' method='post'>
  <input name='name' type='text' />
  <input name='email' type='email' />
  <input name='password' type='password' />
  <button type='submit'>Enter</button>
</form>
